name: Build and deploy frontend to azure

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout GitHub Actions
      uses: actions/checkout@main


    - name: Login via Azure CLI
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}


    - name: Login to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: postcardsbackend.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}


    - name: Build and push container image to registry
      run: |
        echo "MONGOPASSWORD=${secrets.MONGOPASSWORD}" > .env
        docker build . -t postcardsbackend.azurecr.io/postcardsfrontend:${{ github.sha }}
        docker push postcardsbackend.azurecr.io/postcardsfrontend:${{ github.sha }}
        

    - name: Deploy to App Service
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'postcards-map-demo'
        images: 'postcardsbackend.azurecr.io/postcardsfrontend:${{ github.sha }}'


    - name: Azure logout
      run: |
        az logout
